body {
  padding-top: 60px;
  background-color: rgb(245, 245, 245) !important;
  /*font-size: 14px;*/
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.input-header {
  margin-bottom: 20px;
}

.input-section {
  padding-bottom: 20px;
  border-bottom: #ddd thin solid ;
  margin-bottom: 20px;
}

.legal-terms {
  margin-top: 15px;
  height: 150px;
  overflow-y: scroll;
}

.thumbnail{
/*  height: 96px;*/
}
